/* Our default values set as CSS variables */
:root {
  --color-bg: #69F7BE;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background: linear-gradient(113.06deg, #F2E1C1 15.11%, rgba(246, 174, 153, 0.8) 88.91%);
  color: white; 
}

h1 {
  text-align: center;
  font-family: Quicksand;
  color: #9a0000;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

button {
  border-radius: 10px;
  
}

#gameButtonArea > button {
  width: 35px;
  height: 100px;
}
#gameButtonArea{
  text-align: center;
}

#gameBlackButtonArea > button {
  width: 35px;
  height: 80px;
}
#gameBlackButtonArea{
  text-align: center;
}
#button9 {
  background: #000000;
  color: white;
  border-radius: 5%;
}
#button9:active, #button9.lit {
    background: #82827C;
}
#button10 {
  background: #000000;
  color: white;
  border-radius: 5%;
}
#button10:active, #button10.lit {
    background: #82827C;
}
#button11 {
  background: #000000;
  color: white;
  border-radius: 5%;
}
#button11:active, #button11.lit {
    background: #82827C;
}
#button12 {
  background: #000000;
  color: white;
  border-radius: 5%;
}
#button12:active, #button12.lit {
    background: #82827C;
}
#button13 {
  background: #000000;
  color: white;
  border-radius: 5%;
}
#button13:active, #button13.lit {
    background: #82827C;
}

/* Button setup */
#button1 {
  background: #F3F352;
  border-radius: 5%;
}
#button1:active, #button1.lit {
    background: white;
}
#button2 {
  background: #F3F352;
  border-radius: 5%;
}
#button2:active, #button2.lit {
    background: white;
}
#button3 {
  background: #F3F352;
  border-radius: 5%;
}
#button3:active, #button3.lit {
    background: white;
}
#button4 {
  background: #F3F352;
  border-radius: 5%;
}
#button4:active, #button4.lit {
    background: white;
}
#button5 {
  background: #F3F352;
  border-radius: 5%;
}
#button5:active, #button5.lit {
    background: white;
}
#button6 {
  background: #F3F352;
  border-radius: 5%;
}
#button6:active, #button6.lit {
    background: white;
}
#button7 {
  background: #F3F352;
  border-radius: 5%;
}
#button7:active, #button7.lit {
    background: white;
}
#button8 {
  background: #F3F352;
  border-radius: 5%;
}
#button8:active, #button8.lit {
    background: white;
}

#startBtn {
  background: #fef7e5;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
#stopBtn {
  background: #fef7e5;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
.hidden {
  display: none;
}

/* Button - Add it from the README instructions */
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

/* Subheading */
h2 {
  font-weight: 700;
  text-align: center;
  color: #dd5d18;
  font-family: Quicksand;
}
p {
  color: #FFFFFF;
  font-size: 20px;
}
img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 30px;
}